#app {
  height: 50%;
}
html {
  font-size: 62.5%;
  position: relative;
  height: 100%;
}

body {
  background: rgb(86, 202, 96);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  color: rgb(73, 72, 74);
  align-content: center;
  margin: 5rem auto;
}

.swiper {
  width: 33%;
  min-height: 40vh;
}

.swiper-slide {
  text-align: center;
  font-size: 1rem;
  background: rgb(186, 187, 177);
  height: 40vh;
  padding: 2rem;
  border-radius: 2rem;
  
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} 
